.nav-bar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.nav-bar-left{
    margin-top: 10px;
    margin-left: 20px;
    line-height:25px;
    text-transform: uppercase;
}
.nav-bar-left h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20pt;
}
.nav-bar-right{
    font-family: 'Open';
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.nav-bar-element{
    display: flex;
    margin: 10px;
    cursor: pointer;
}