<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300">
</head>
<div class="nav-bar">
    <div class="nav-bar-left">
        <h1>dunder<br>mifflin</h1>
    </div>
    <div class="nav-bar-right">
        <div class="nav-bar-element" (click) = "goToMeusPedidos()">
            Meus pedidos
        </div>
        <div class="nav-bar-element" (click) = "goToProducts()">
            Produtos
        </div>
        <div class="nav-bar-element" (click) = "goToProfile()">
            Meu Perfil
        </div>
        <div class="nav-bar-element" (click) = "goToOut()">
            Sair
        </div>
    </div>
</div>
